/drush/contrib/
/vendor/
/core/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/web/libraries/
/web/sites/*/files/
/web/sites/simpletest
/web/sites/default/settings.*
/web/sites/default/services.*
/.vscode/
*.DS_Store
.DS_Store
config/dev
/node_modules
node_modules
